@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-sans;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}

* {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}